main > a > img{
    width: 80vw;
}

h1{
    padding: 5px 10px;
    background: #383838;
    color: #fff;
    /* border-radius: 8px; */
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
}

main{
    height: 100vh;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}